@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif; }

/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/
/* Navbar section */
.nav {
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center; }

.nav div.logo {
  float: left;
  width: auto;
  height: auto;
  padding-left: 3rem; }

.nav div.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem; }

.nav div.logo a:hover {
  color: #00e676; }

.nav div.main_list {
  height: 65px;
  float: right; }

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0; }

.nav div.main_list ul li {
  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 3rem; }

.nav div.main_list ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 65px;
  font-size: 2rem; }

.nav div.main_list ul li a:hover {
  color: #00e676; }

/* Home section */
.home {
  width: 100%;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1498550744921-75f79806b8a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0f6908fa5e81286213c7211276e6b3d&auto=format&fit=crop&w=1500&q=80);
  background-position: center top;
  background-size: cover; }

.navTrigger {
  display: none; }

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }

/* Media qurey section */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin: 0; } }

@media screen and (max-width: 768px) {
  .navTrigger {
    display: block; }
  .nav div.logo {
    margin-left: 15px; }
  .nav div.main_list {
    width: 100%;
    height: 0;
    overflow: hidden; }
  .nav div.show_list {
    height: auto;
    display: none; }
  .nav div.main_list ul {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #557a95;
    /*same background color of navbar*/
    background-position: center top; }
    .nav div.main_list ul li {
      margin-bottom: 1rem; }
  .nav div.main_list ul li {
    width: 100%;
    text-align: right; }
  .nav div.main_list ul li a {
    text-align: center;
    width: 100%;
    font-size: 2.5rem;
    padding: 20px; }
  .nav div.media_button {
    display: block; } }

/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */
.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0; }

.navTrigger i {
  background-color: #fff;
  border-radius: 2px;
  content: "";
  display: block;
  width: 100%;
  height: 4px; }

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse; }

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse; }

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse; }

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards; }

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards; }

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards; }

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(45deg); } }

@keyframes inM {
  50% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(45deg); } }

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(45deg); } }

@keyframes outM {
  50% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(45deg); } }

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg); }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg); }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg); } }

@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg); }
  50% {
    transform: translateY(9px) rotate(0deg); }
  100% {
    transform: translateY(9px) rotate(135deg); } }

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg); }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg); }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg); } }

@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg); }
  50% {
    transform: translateY(9px) rotate(0deg); }
  100% {
    transform: translateY(9px) rotate(135deg); } }

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg); }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg); }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg); } }

@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg); }
  50% {
    transform: translateY(-9px) rotate(0deg); }
  100% {
    transform: translateY(-9px) rotate(135deg); } }

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg); }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg); }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg); } }

@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg); }
  50% {
    transform: translateY(-9px) rotate(0deg); }
  100% {
    transform: translateY(-9px) rotate(135deg); } }

.affix {
  padding: 0;
  background-color: rgba(115, 149, 174, 0.7); }

.myH2 {
  text-align: center;
  font-size: 4rem; }

.myP {
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 20px; }

@media all and (max-width: 700px) {
  .myP {
    padding: 2%; } }

body nav {
  z-index: 999; }

body #events .owl-carousel {
  position: relative; }
  body #events .owl-carousel .owl-nav .owl-next,
  body #events .owl-carousel .owl-nav .owl-prev {
    padding: 4rem 2rem !important;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 3rem; }
    body #events .owl-carousel .owl-nav .owl-next:hover,
    body #events .owl-carousel .owl-nav .owl-prev:hover {
      background-color: white;
      transition: all 0.5s; }
  body #events .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    left: 8%; }
  body #events .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    right: 8%; }
  body #events .owl-carousel .slider-1 {
    height: 100vh;
    background-image: linear-gradient(to right, rgba(85, 122, 149, 0.4), rgba(115, 149, 174, 0.4)), url("../images/campus-3.jpg");
    background-size: cover;
    padding-bottom: 4rem; }
    body #events .owl-carousel .slider-1 .cap-1 {
      padding-top: 10rem;
      font-size: 2.2rem;
      color: white; }
    body #events .owl-carousel .slider-1 .caro-title {
      font-size: 5rem;
      font-weight: bold;
      color: white; }
    body #events .owl-carousel .slider-1 .text-white {
      font-size: 1.2rem; }
  body #events .owl-carousel .slider-2 {
    height: 100vh;
    background-image: linear-gradient(to right, rgba(85, 122, 149, 0.4), rgba(115, 149, 174, 0.4)), url("../images/campus-2.jpg");
    background-size: cover;
    padding-bottom: 4rem; }
    body #events .owl-carousel .slider-2 .cap-1 {
      padding-top: 10rem;
      font-size: 2.2rem;
      color: white; }
    body #events .owl-carousel .slider-2 .caro-title {
      font-size: 5rem;
      font-weight: bold;
      color: white; }
    body #events .owl-carousel .slider-2 .text-white {
      font-size: 1.2rem; }

@media only screen and (max-width: 500px) {
  body .owl-carousel .slider-1 .caro-title,
  body .owl-carousel .slider-2 .caro-title {
    font-size: 3rem !important; }
  body .owl-carousel .slider-1 .text-white,
  body .owl-carousel .slider-2 .text-white {
    font-size: 1rem !important; } }

body #library {
  margin-top: 0 !important;
  background-color: #f6f8fa;
  padding-top: 7rem;
  padding-bottom: 6rem; }
  body #library .lib-title {
    color: #557a95;
    font-size: 2rem; }
  body #library .fa-book {
    color: #379683; }
  body #library .lib-container {
    padding: 2.7rem 3.5rem;
    top: -12rem;
    right: 0rem;
    background-color: #fff;
    z-index: 20;
    position: absolute; }
    body #library .lib-container .title {
      color: #557a95;
      font-size: 2rem; }

@media only screen and (max-width: 500px) {
  body #library .lib-container {
    top: 6rem; } }

body #about {
  padding-bottom: 4rem; }
  body #about .container {
    padding-bottom: 3rem;
    border-bottom: 1px solid #eee; }
  body #about .title {
    margin-top: 7rem;
    font-size: 1.8rem;
    color: #7395ae; }
  body #about .cert {
    margin-top: 5rem; }
    body #about .cert svg {
      color: #5d5c61;
      margin-top: 1rem;
      font-size: 2rem; }
    body #about .cert .sub-title {
      font-size: 1.5rem;
      color: #557a95; }

@media only screen and (max-width: 500px) {
  body #about {
    margin-top: 32rem; }
    body #about .col-md-6 .row {
      margin-top: 4rem; } }

body #courses {
  padding-top: 10rem;
  padding-bottom: 6rem;
  background-color: #f6f8fa; }
  body #courses .card-container {
    position: relative; }
    body #courses .card-container .card-top {
      position: absolute;
      opacity: 0;
      z-index: 88; }
      body #courses .card-container .card-top:hover {
        opacity: 1;
        top: -4rem;
        transition: all 0.5s; }
    body #courses .card-container .card-over .card-body .line {
      margin-top: -1rem;
      color: #379683;
      font-weight: bolder; }

@media only screen and (max-width: 500px) {
  body #courses {
    margin-top: 30rem !important; }
    body #courses .card-container .card-top:hover {
      max-width: 95%;
      left: 0.6rem;
      top: -2.2rem; } }

body #focus {
  padding-top: 7rem;
  padding-bottom: 5rem; }
  body #focus .title {
    font-size: 1.8rem;
    color: #7395ae; }
  body #focus .focus-1,
  body #focus .focus-2,
  body #focus .focus-3,
  body #focus .focus-4 {
    color: #557a95; }
    body #focus .focus-1 .title,
    body #focus .focus-2 .title,
    body #focus .focus-3 .title,
    body #focus .focus-4 .title {
      font-size: 1.3rem;
      font-weight: bold; }
    body #focus .focus-1 .num,
    body #focus .focus-2 .num,
    body #focus .focus-3 .num,
    body #focus .focus-4 .num {
      font-size: 1.2rem;
      font-weight: bold;
      color: #5d5c61; }
  body #focus .focus-2,
  body #focus .focus-4 {
    margin-top: 8rem; }

@media only screen and (max-width: 500px) {
  body #focus .focus-1 {
    margin-top: 8rem; } }

body #testimonials {
  padding: 4rem 2rem 2rem;
  background-image: linear-gradient(to right, rgba(85, 122, 149, 0.4), rgba(85, 122, 149, 0.4)), url("../images/campus-1.jpg");
  background-size: cover; }
  body #testimonials .owl-carousel {
    position: relative; }
    body #testimonials .owl-carousel .owl-nav .owl-next,
    body #testimonials .owl-carousel .owl-nav .owl-prev {
      padding: 4rem 2rem !important;
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 3rem; }
      body #testimonials .owl-carousel .owl-nav .owl-next:hover,
      body #testimonials .owl-carousel .owl-nav .owl-prev:hover {
        background-color: white;
        transition: all 0.5s; }
    body #testimonials .owl-carousel .owl-nav .owl-prev {
      position: absolute;
      top: 50%;
      left: 8%; }
    body #testimonials .owl-carousel .owl-nav .owl-next {
      position: absolute;
      top: 50%;
      right: 8%; }
    body #testimonials .owl-carousel .owl-dots svg {
      color: #5d5c61;
      font-size: 0.9rem; }
    body #testimonials .owl-carousel .slider-1 {
      padding-bottom: 4rem; }
      body #testimonials .owl-carousel .slider-1 .cap-1 {
        padding-top: 20rem;
        font-size: 3rem;
        color: white; }
      body #testimonials .owl-carousel .slider-1 .caro-title {
        font-size: 3rem;
        font-weight: bold;
        color: white; }
      body #testimonials .owl-carousel .slider-1 .stu-1 {
        border-radius: 24rem;
        height: 6rem;
        width: 6rem;
        margin: 2rem auto;
        filter: brightness(1.5); }
    body #testimonials .owl-carousel .slider-2 {
      padding-bottom: 4rem; }
      body #testimonials .owl-carousel .slider-2 .cap-1 {
        padding-top: 20rem;
        font-size: 2.2rem;
        color: white; }
      body #testimonials .owl-carousel .slider-2 .caro-title {
        font-size: 3rem;
        font-weight: bold;
        color: white; }
      body #testimonials .owl-carousel .slider-2 .stu-2 {
        border-radius: 24rem;
        height: 6rem;
        width: 6rem;
        margin: 2rem auto;
        filter: brightness(1.5); }

body #newsletter {
  background-color: #f6f8fa;
  padding: 3rem 2rem 5rem; }
  body #newsletter .col .title {
    padding-top: 4rem;
    font-size: 1.7rem;
    color: #7395ae; }
  body #newsletter .col .input {
    margin: 1rem auto; }
    body #newsletter .col .input .input-group {
      margin: 4rem auto;
      max-width: 40rem; }
    body #newsletter .col .input .btn {
      background-color: #7395ae;
      color: white; }

body footer {
  padding: 2rem 1rem;
  background-color: #7395ae;
  color: white; }
  body footer .title {
    color: white;
    font-size: 1.2rem; }

@media only screen and (max-width: 500px) {
  body footer .title {
    font-size: 0.7rem; } }

body #logIn {
  background-image: linear-gradient(to right, rgba(93, 92, 97, 0.8), rgba(93, 92, 97, 0.4)), url("https://images.pexels.com/photos/34088/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  height: 100vh; }
  body #logIn .col {
    margin-top: 2rem; }
    body #logIn .col .login {
      max-width: 30rem;
      margin: 0 auto;
      background-color: transparent;
      box-shadow: -7px -1px 46px -5px rgba(0, 0, 0, 0.75);
      padding: 4rem; }
      body #logIn .col .login .title {
        margin: 0 auto;
        font-size: 1.9rem;
        font-weight: bold; }
      body #logIn .col .login a {
        color: #f6f8fa; }
      body #logIn .col .login button {
        color: #f6f8fa;
        font-weight: bold; }
        body #logIn .col .login button:hover {
          background-color: #557a95;
          color: #f6f8fa;
          transform: scale(1.1, 1.1);
          transition: all 0.5s; }
      body #logIn .col .login .new {
        color: #b1a296;
        font-weight: bold;
        font-size: 0.9rem;
        margin-top: 1.6rem;
        padding-bottom: 0.4rem; }
        body #logIn .col .login .new:hover {
          transform: scale(1.1, 1.2);
          text-decoration: underline;
          transition: all 0.5s; }

@media only screen and (max-width: 500px) {
  .login {
    padding: 2rem !important; } }

#about {
  padding-bottom: 4rem; }
  #about .container {
    padding-bottom: 3rem;
    border-bottom: 1px solid #eee; }
  #about .title {
    margin-top: 7rem;
    font-size: 1.8rem;
    color: #7395ae; }
  #about .cert {
    margin-top: 5rem; }
    #about .cert svg {
      color: #5d5c61;
      margin-top: 1rem;
      font-size: 2rem; }
    #about .cert .sub-title {
      font-size: 1.5rem;
      color: #557a95; }

@media only screen and (max-width: 500px) {
  #about {
    margin-top: 32rem; }
    #about .col-md-6 .row {
      margin-top: 4rem; } }

body .sec-1 div {
  background-image: linear-gradient(to right, rgba(115, 149, 174, 0.4), rgba(115, 149, 174, 0.4)), url("../images/intro.png") !important; }
  body .sec-1 div .title {
    color: white;
    font-size: 3.8rem; }
    body .sec-1 div .title h2 {
      font-size: 6rem; }

body .sec-2 div {
  background-image: linear-gradient(to right, rgba(115, 149, 174, 0.4), rgba(115, 149, 174, 0.4)), url("../images/campus-7.jpg") !important; }
  body .sec-2 div h2 {
    font-size: 6rem; }

body .sec-3 div {
  background-image: linear-gradient(to right, rgba(115, 149, 174, 0.4), rgba(115, 149, 174, 0.4)), url("../images/campus-5.jpg") !important; }
  body .sec-3 div h2 {
    font-size: 6rem; }

body .sec-4 div {
  background-image: linear-gradient(to right, rgba(115, 149, 174, 0.4), rgba(115, 149, 174, 0.4)), url("../images/campus-6.jpg") !important; }
  body .sec-4 div h2 {
    font-size: 6rem; }

@media only screen and (max-width: 500px) {
  .sec-1 div h2,
  .sec-2 div h2,
  .sec-3 div h2,
  .sec-4 div h2 {
    font-size: 2rem !important;
    font-weight: bold; } }

body #events .owl-carousel {
  position: relative; }
  body #events .owl-carousel .owl-nav .owl-next,
  body #events .owl-carousel .owl-nav .owl-prev {
    padding: 4rem 2rem !important;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 3rem; }
    body #events .owl-carousel .owl-nav .owl-next:hover,
    body #events .owl-carousel .owl-nav .owl-prev:hover {
      background-color: white;
      transition: all 0.5s; }
  body #events .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    left: 8%; }
  body #events .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    right: 8%; }
  body #events .owl-carousel .slider-1 {
    height: 100vh;
    background-image: linear-gradient(to right, rgba(85, 122, 149, 0.4), rgba(115, 149, 174, 0.4)), url("../images/campus-3.jpg");
    background-size: cover;
    padding-bottom: 4rem; }
    body #events .owl-carousel .slider-1 .cap-1 {
      padding-top: 10rem;
      font-size: 2.2rem;
      color: white; }
    body #events .owl-carousel .slider-1 .caro-title {
      font-size: 5rem;
      font-weight: bold;
      color: white; }
    body #events .owl-carousel .slider-1 .text-white {
      font-size: 1.2rem; }
  body #events .owl-carousel .slider-2 {
    height: 100vh;
    background-image: linear-gradient(to right, rgba(85, 122, 149, 0.4), rgba(115, 149, 174, 0.4)), url("../images/campus-2.jpg");
    background-size: cover;
    padding-bottom: 4rem; }
    body #events .owl-carousel .slider-2 .cap-1 {
      padding-top: 10rem;
      font-size: 2.2rem;
      color: white; }
    body #events .owl-carousel .slider-2 .caro-title {
      font-size: 5rem;
      font-weight: bold;
      color: white; }
    body #events .owl-carousel .slider-2 .text-white {
      font-size: 1.2rem; }

@media only screen and (max-width: 500px) {
  body .owl-carousel .slider-1 .caro-title,
  body .owl-carousel .slider-2 .caro-title {
    font-size: 3rem !important; }
  body .owl-carousel .slider-1 .text-white,
  body .owl-carousel .slider-2 .text-white {
    font-size: 1rem !important; } }

body .title {
  color: #7395ae;
  font-size: 1.8rem; }

body .s-1 {
  background-image: linear-gradient(to right, rgba(115, 149, 174, 0.4), rgba(115, 149, 174, 0.4)), url("../images/event-slider-1.jpg") !important; }

body .s-2 {
  background-image: linear-gradient(to right, rgba(115, 149, 174, 0.4), rgba(115, 149, 174, 0.4)), url("../images/event-slider-2.jpg") !important; }

body #grades {
  padding-top: 5rem;
  padding-bottom: 3rem; }
  body #grades .title {
    color: #557a95;
    font-size: 2rem; }

body #table {
  margin-top: 3rem;
  padding: 5rem 1rem;
  background-image: linear-gradient(to right, rgba(115, 149, 174, 0.4), rgba(115, 149, 174, 0.4)), url("../images/campus-1.jpg");
  background-size: cover;
  background-attachment: fixed; }
  body #table .table-title {
    font-size: 2rem;
    color: white; }
  body #table a.btn {
    border-bottom: 1px solid #379683;
    color: white;
    padding-bottom: 1rem; }
    body #table a.btn:hover {
      transform: scale(1.2, 1.2);
      transition: all 0.5s; }

@media only screen and (max-width: 500px) {
  body #table .table-title {
    font-size: 0.8rem; } }

body #table {
  /**
 * Variables
 */
  /**
 * Base styles
 */
  /**
 * Overlay
 * -- only show for tablet and up
 */
  /**
 * Modal
 */
  /**
 * Mobile styling
 */ }
  body #table h1,
  body #table h2,
  body #table h3,
  body #table h4,
  body #table h5,
  body #table h6 {
    font-weight: normal; }
  body #table h1 {
    font-size: 1.875rem;
    font-weight: 300;
    margin: 60px 0 30px 0;
    color: #fff; }
  body #table button.a {
    position: relative;
    transition: background 0.25s cubic-bezier(0.55, 0, 0.1, 1);
    font-weight: bold;
    color: white;
    padding-bottom: 1rem;
    border-bottom: 1px solid #379683; }
    body #table button.a:hover {
      transform: scale(1.2, 1.2);
      transition: all 0.5s; }
  @media only screen and (min-width: 40em) {
    body #table .modal-overlay {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 999999;
      background-color: rgba(0, 0, 0, 0.6);
      opacity: 0;
      visibility: hidden;
      backface-visibility: hidden;
      transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1); }
      body #table .modal-overlay.active {
        opacity: 1;
        visibility: visible; } }
  body #table .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    width: 600px;
    max-width: 75rem;
    max-height: 30rem;
    padding: 1rem;
    border-radius: 3px;
    opacity: 0;
    overflow-y: auto;
    visibility: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    backface-visibility: hidden;
    transform: scale(1.2);
    transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: 999999; }
    body #table .modal .close-modal {
      position: absolute;
      cursor: pointer;
      top: 5px;
      right: 15px;
      opacity: 0;
      backface-visibility: hidden;
      transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
      transition-delay: 0.3s; }
      body #table .modal .close-modal svg {
        width: 1.75em;
        height: 1.75em; }
    body #table .modal .modal-content {
      opacity: 0;
      backface-visibility: hidden;
      transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
      transition-delay: 0.3s; }
    body #table .modal.active {
      visibility: visible;
      opacity: 1;
      transform: scale(1); }
      body #table .modal.active .modal-content {
        opacity: 1; }
      body #table .modal.active .close-modal {
        transform: translateY(10px);
        opacity: 1; }
  @media only screen and (max-width: 39.9375em) {
    body #table h1 {
      font-size: 1.5rem; }
    body #table .modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-overflow-scrolling: touch;
      border-radius: 0;
      transform: scale(1.1);
      padding: 0 !important; }
    body #table .close-modal {
      right: 20px !important; } }

body #front {
  background-image: linear-gradient(to right, rgba(115, 149, 174, 0.4), rgba(115, 149, 174, 0.4)), url("../images/campus-7.jpg");
  background-size: cover;
  padding: 17rem 4rem; }
  body #front .title {
    margin-top: 3rem;
    color: white;
    font-size: 2.2rem; }
    body #front .title span {
      font-weight: bold; }

body #why {
  background-color: #f6f8fa;
  padding-top: 6rem;
  padding-bottom: 5rem; }
  body #why .title {
    font-size: 1.9rem;
    color: #7395ae; }
  body #why .why {
    background: white;
    padding: 3rem 0rem; }
    body #why .why svg {
      font-size: 2.7rem;
      color: #7395ae; }
    body #why .why .title {
      font-size: 1.3rem;
      color: #557a95; }

body #about-info {
  padding: 6rem 2rem 5rem; }
  body #about-info .title {
    color: #7395ae; }
  body #about-info .sub-title {
    font-size: 1.4rem;
    color: #557a95; }
  body #about-info .founders img {
    border-radius: 24rem;
    height: 7rem;
    width: 7rem; }
  body #about-info .founders .founder-1,
  body #about-info .founders .founder-2 {
    margin-top: 4rem;
    display: inline-block; }
  body #about-info .founders .founder-1 {
    margin-right: 3rem; }
  body #about-info .founders .founder-name-1,
  body #about-info .founders .founder-name-2 {
    margin: 1rem;
    color: #7395ae; }
  body #about-info .col-md-4 {
    border: 1px solid #eee;
    padding: 3rem 2rem; }
    body #about-info .col-md-4 ul li svg {
      color: #7395ae;
      margin-right: 1rem; }
