body {
  #grad-home {
    .bg {
      background-image: linear-gradient(to right, rgba($dark-sea, 0.4), rgba($dark-sea, 0.4)),
        url("../images/campus-6.jpg");
      background-size: cover;
      background-position: 0 50%;
      height: 100vh;
      clip-path: polygon(0% 0%, 100% 0%, 100% 80vh, 0% 100%);
      transition: all 0.5s;
      position: relative;
      z-index: 20;
      &:hover {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      }
    }
    .under {
      position: absolute;
      top: 85vh;
      right: 3rem;
      color: $sea;
      border: 1px solid $very-dark;
      z-index: 10;
    }
    .title {
      padding-top: 15rem;
      overflow-x: hidden;
      .main {
        font-weight: bold;
        color: white;
        font-size: 2.8rem;
        animation: welcome 1s ease-in-out;
        transition: all 0.5s;
        &:hover {
          transform: scale3d(1.1, 1.1, 1.1);
          animation: colors 2s;
        }
      }
      .sub {
        color: whitesmoke;
        font-size: 1.3rem;
      }
    }
  }
  #jobs {
    .title {
      .main {
        color: white;
      }
      .sub {
        color: $bg-light;
        font-size: 1.2rem;
      }
    }
    .owl-carousel {
      position: relative;

      .owl-nav {
        .owl-next,
        .owl-prev {
          padding: 4rem 2rem !important;
          background-color: rgba(255, 255, 255, 0.4);
          border-radius: 3rem;
          &:hover {
            background-color: rgba(255, 255, 255, 1);
            transition: all 0.5s;
          }
        }
        .owl-prev {
          position: absolute;
          top: 50%;
          left: 8%;
        }
        .owl-next {
          position: absolute;
          top: 50%;
          right: 8%;
        }
      }
      .owl-dots svg {
        color: $very-dark;
        font-size: 0.9rem;
      }
      .slider-1,
      .slider-2 {
        padding: 10rem 1rem;

        background-position: 0 50%;
      }
      .slider-1 {
        padding-bottom: 6rem;
        background-image: linear-gradient(to right, rgba($dark-sea, 0.4), rgba($dark-sea, 0.4)),
          url("../images/laptop.jpg");
        background-size: cover;
        .cap-1 {
          padding-top: 20rem;
          font-size: 3rem;
          color: white;
        }
        .caro-title {
          font-size: 3rem;
          font-weight: bold;
          color: white;
        }
        .stu-1 {
          border-radius: 24rem;
          height: 6rem;
          width: 6rem;
          margin: 2rem auto;
          filter: brightness(1.5);
        }
      }
      .slider-2 {
        padding-bottom: 6rem;
        background-image: linear-gradient(to right, rgba($dark-sea, 0.4), rgba($dark-sea, 0.4)),
          url("../images/computer-keyboard.jpg");
        background-size: cover;
        .cap-1 {
          padding-top: 20rem;
          font-size: 2.2rem;
          color: white;
        }
        .caro-title {
          font-size: 3rem;
          font-weight: bold;
          color: white;
        }
        .stu-2 {
          border-radius: 24rem;
          height: 6rem;
          width: 6rem;
          margin: 2rem auto;
          filter: brightness(1.5);
        }
      }
    }
  }
  #contact-info {
    position: fixed;
    top: 40%;
    right: -20%;
    box-shadow: -1px -1px 43px 10px rgba(0, 0, 0, 0.75);
    max-width: 20rem;
    transition: all 0.5s;
    padding: 2rem 1rem;
    &:hover {
      right: 0%;
    }
    .title {
      color: $bg-light;
      font-weight: bold;
    }
    .icons {
      svg {
        color: $sand;
        font-size: 1.2rem;
        transition: all 0.5s;
        &:hover {
          color: $dark;
        }
      }
    }
  }
  #grad-news {
    .title {
      padding-top: 8rem;
      .main {
        font-size: 1.8rem;
      }
      .sub {
        color: #555;
        font-size: 1.2rem;
      }
    }
    #accordion {
      max-width: 40rem;
      margin: 6rem auto;
    }
  }
}

.scroll-1 {
  color: $dark-sea !important;
  transition: all 0.5s;
}

@keyframes welcome {
  0% {
    opacity: 0;
    transform: translateX(20rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes colors {
  0% {
    color: red;
  }
  100% {
    color: blue;
  }
}

@media only screen and (max-width: 500px) {
  #grad-home {
    .under {
      top: 90vh !important;
      right: 1rem !important;
    }
  }
}
