#newsletter {
  background-color: $bg-light;
  padding: 3rem 2rem 5rem;
  .col {
    .title {
      padding-top: 4rem;
      font-size: 1.7rem;
      color: $sea;
    }
    .input {
      margin: 1rem auto;
      .input-group {
        margin: 4rem auto;
        max-width: 40rem;
      }
      .btn {
        background-color: $sea;
        color: white;
      }
    }
  }
}
