body {
  #logIn {
    background-image: linear-gradient(to right, rgba($very-dark, 0.8), rgba($very-dark, 0.4)),
      url("https://images.pexels.com/photos/34088/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    height: 100vh;
    .col {
      //padding: 6rem 3rem 1rem;
      margin-top: 2rem;
      .login {
        max-width: 30rem;
        margin: 0 auto;
        background-color: transparent;
        box-shadow: -7px -1px 46px -5px rgba(0, 0, 0, 0.75);
        padding: 4rem;
        .title {
          margin: 0 auto;
          font-size: 1.9rem;
          font-weight: bold;
        }
        a {
          color: $bg-light;
        }
        button {
          color: $bg-light;
          font-weight: bold;
          &:hover {
            background-color: $dark-sea;
            color: $bg-light;
            transform: scale(1.1, 1.1);
            transition: all 0.5s;
          }
        }
        .new {
          color: $sand;
          font-weight: bold;
          font-size: 0.9rem;
          margin-top: 1.6rem;
          padding-bottom: 0.4rem;
          &:hover {
            transform: scale(1.1, 1.2);
            //border-bottom: 1px solid white;
            text-decoration: underline;
            transition: all 0.5s;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .login {
    padding: 2rem !important;
  }
}
